@import url(media-queries.css);

@font-face {
    font-family: NeogroteskEss-Regular;
    src: url("./fonts/Neo/NeogroteskEss-Regular.otf");
}
.neo-regular {
    font-family: NeogroteskEss-Regular;
}
@font-face {
    font-family: NeogroteskEss-Bold;
    src: url("./fonts/Neo/NeogroteskEss-Bold.otf");
}
.neo-bold {
    font-family: NeogroteskEss-Bold;
}
@font-face {
    font-family: NeogroteskEss-Black;
    src: url("./fonts/Neo/NeogroteskEss-Black.otf");
}
.neo-black {
    font-family: NeogroteskEss-Black;
}
@font-face {
    font-family: NeogroteskEss-RegularIt;
    src: url("./fonts/Neo/NeogroteskEss-RegularIt.otf");
}
.neo-regular-italic {
    font-family: NeogroteskEss-RegularIt;
}
@font-face {
    font-family: NeogroteskEss-LightIt;
    src: url("./fonts/Neo/NeogroteskEss-LightIt.otf");
}
.neo-light-italic {
    font-family: NeogroteskEss-LightIt;
}