@font-face {
  font-family: 'Arvo';
  src: url('./fonts/Arvo-Bold.woff2') format('woff2'),
      url('./fonts/Arvo-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.arvo-bold {
  font-family: Arvo;
  font-weight: bold;
}
@font-face {
  font-family: 'Arvo';
  src: url('./fonts/Arvo.woff2') format('woff2'),
      url('./fonts/Arvo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.arvo {
  font-family: Arvo;
}
@font-face {
  font-family: 'Arvo';
  src: url('./fonts/Arvo-Italic.woff2') format('woff2'),
      url('./fonts/Arvo-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
.arvo-italic {
  font-family: Arvo;
  font-style: italic;
}
@font-face {
  font-family: 'Arvo';
  src: url('./fonts/Arvo-BoldItalic.woff2') format('woff2'),
      url('./fonts/Arvo-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
.arvo-bold-italic {
  font-family: Arvo;
  font-weight: bold;
  font-style: italic;
}